DATABASE_URL="postgresql://postgres:admin@localhost:5432/project37?schema=public"
PORT="8001"
ADMIN_PORT="8002"
SALT_KEY="10"
JWT_SECRET_INTERNAL="project37akumengasihimu"
JWT_SECRET_PUBLIC="project37komunitas"
NODE_ENV="dev"

# MINIO CONFIG
MINIO_URL_HOST="192.168.1.13"
MINIO_PORT="9100"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_COMPLETE_URL_HOST="http://192.168.1.13:9100"